@model BundleGames.Models.AddToWishListModel

@{
    ViewBag.Title = "AddGameToWishlist";
}

<h2>AddGameToWishlist</h2>

@using (Html.BeginForm("AddGameToWishlist", "Games"))
{
    <div class="row">
        <div class="col">
            
        </div>
    </div>
}