@model IEnumerable<BundleGames.Models.Korisnik>

@{
    ViewBag.Title = "Korisnik";
}

<div class="container">
    <div class="row">
        <div class="col">
            @foreach(var item in Model)
            {
               
            }
        </div>
    </div>
</div>