@model IEnumerable<BundleGames.Models.Korisnik>

@{
    ViewBag.Title = "Korisnik";
}

<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>