@model IEnumerable<BundleGames.Models.Korisnik>

@{
    ViewBag.Title = "Korisnik";
}

    <head>
        <style>
            body {
                background: -webkit-radial-gradient( #0b2a3c, #1b4456);
            }

            .pozadina-index {
                background: -webkit-radial-gradient( #283f63, #1b4456);
            }
        </style>
        
    </head>

@using (Html.BeginForm("Index", "Korisniks"))
{
    <body>

    </body>


}

